<h3>//Biografia</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate  ipsum sem, sit amet aliquam tellus consectetur a. Nulla bibendum  ultricies leo, sed iaculis ligula elementum vitae. Sed sapien ex,  lacinia a efficitur eget, scelerisque nec nibh.</p>

<h3>//Formação</h3>
<ul>
    <li>
        <div>
            <h4>Graduação em Sistemas e Mídias Digitais</h4>
            <ul>
                <li>Universidade Federal do Ceará</li>
                <li>2018 - 2023</li>
            </ul>
        </div>
    </li>
</ul>