#photo-description-container {
    margin-bottom: 40px;
}

h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 40px;
}

ul {
    margin-left: 20px;
}

@media(min-width: 900px) {
    #photo-description-container {
        display: none;
    }
}