<div id="photo-description-container" class="animatable">
    <app-photo-and-description></app-photo-and-description>
</div>

<app-section id="about-me" class="section" [title]="info.biografy.title">
    <p class="dynamic-content animatable" [innerHTML]="item" *ngFor="let item of info.biografy.content">{{item}}</p>
</app-section>

<app-section id="technologies" [title]="'Tecnologias'">
    <ul id = "technologies-container">
        <app-technology-item 
            *ngFor="let item of info.technologies" [technologies]="item"
            [class]="!item.showInMobile ? 'dont-show-in-mobile' : ''"></app-technology-item>
    </ul>
</app-section>

<app-section id="qualification" class="section" [title]="info.qualifications.title">
    <ul>
        <app-qualification-item 
            *ngFor="let item of info.qualifications.content" 
            [qualification]="item">
        </app-qualification-item>
    </ul>
</app-section>

<app-section [title]="info.languages.title">
    <ul id="languages-spoken">
        <li *ngFor="let item of info.languages.content" class="languages-item animatable">{{item.language}} - {{item.level}}</li>
    </ul>
</app-section>

<app-section id="experiences" class="section" [title]="info.experiences.title">
    <ul id = "experiences-item">
        <app-experience-item 
            *ngFor="let item of info.experiences.content" 
            [experienceItem]="item">
        </app-experience-item>
    </ul>
</app-section>

<app-projects id="projects" class="section"></app-projects>