<div id="photo-description-container">
    <app-photo-and-description></app-photo-and-description>
</div>

<app-section [title]="info.biografy.title">
    <p *ngFor="let item of info.biografy.content">{{item}}</p>
</app-section>

<app-section [title]="info.languages.title">
    <ul id="languages-spoken">
        <li *ngFor="let item of info.languages.content" class="languages-item">{{item.language}} - {{item.level}}</li>
    </ul>
</app-section>

<app-section [title]="info.qualifications.title">
    <ul>
        <app-qualification-item 
            *ngFor="let item of info.qualifications.content" 
            [qualification]="item">
        </app-qualification-item>
    </ul>
</app-section>

<app-section [title]="info.experiences.title">
    <ul>
        <app-experience-item 
            *ngFor="let item of info.experiences.content" 
            [experienceItem]="item">
        </app-experience-item>
    </ul>
</app-section>
