#photo-description-container {
    margin-bottom: 4rem;
}

#technologies-container {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

#languages-spoken {
    display: flex;
    flex-direction: column;
}

.languages-item {
    margin-right: 6rem;
}

h3 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

p {
    font-size: var(--norma-text-size);
    font-weight: 100;
    margin-bottom: 0.8rem;
}

ul {
    margin-left: 2rem;
}

li {
    font-size: var(--norma-text-size);
    font-weight: 100;
}

.dont-show-in-mobile {
    display: none;
}

.section {
    scroll-margin-top: 6rem;
}

#experiences-item {
    margin-left: 0;
}

@media(min-width: 480px){
    #technologies-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .dont-show-in-mobile {
        display: block;
    }
}

@media(min-width: 900px) {
    #photo-description-container {
        display: none;
    }
}

@media(min-width: 1200px){
    #languages-spoken {
        flex-direction: row;
    }

    #technologies-container {
        grid-template-columns: repeat(3, 1fr);
    }
}