#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
}

ul {
    list-style: none;
}

#menu-itens li {
    font-size: 22px;
}

#icons-social-media {
    display: flex;
}

#icons-social-media li {
    margin-right: 18px;
}

.icon {
    width: 24px;
}