<div id = "menu" class="full-height">
    <div>
        <div id = "image-container">
            <div id = "image-frame"></div>
            <img src="assets/images/profile_picture.png" alt="">
        </div>
        <div>
            <h1>Caio Orleans</h1>
            <h2>Desenvolvedor FullStack e Mobile</h2>
        </div>
    </div>
    
    <ul id = "menu-itens">
        <li>//Sobre mim</li>
        <li>Experiências</li>
        <li>Projetos</li>
    </ul>
    
    <ul id = "icons-social-media">
        <li>
            <a href="">
                <img class="icon" src="assets/icons/linkedin-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a href="">
                <img class="icon" src="assets/icons/github-icon.svg" alt="">
            </a>
        </li>
    </ul>
</div>