<div id = "menu" class="full-height">
    
    <app-photo-and-description></app-photo-and-description>

    <ul id = "menu-itens">
        <li>//Sobre mim</li>
        <li>Experiências</li>
        <li>Projetos</li>
    </ul>
    
    <ul id = "icons-social-media">
        <li>
            <a href="">
                <img class="icon" src="assets/icons/linkedin-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a href="">
                <img class="icon" src="assets/icons/github-icon.svg" alt="">
            </a>
        </li>
    </ul>
</div>