#container-title {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.item {
    border: 2px solid var(--primary-color);
    border-radius: 1rem;
    padding: 2rem;
    list-style: none;
    overflow-y: hidden;
}

.icon {
    width: 2rem;
}

ul {
    margin-left: 0;
    list-style: none;
}

h4 {
    margin-bottom: 1rem;
}

.add-margin {
    margin-bottom: 1rem;
}

.description {
    color: transparent;
    max-height: 0;
    transition: all ease 0.3s;
}

.show-description {
    border-top: 1px solid var(--primary-color);
    max-height: 80rem;
    color: var(--secondary-color);
    padding-top: 1rem;
}

@media(min-width: 480px){
    .show-description {
        max-height: 30rem;
    }
}