h4 {
    margin-bottom: 1rem;
}

.add-margin {
    margin-bottom: 1rem;
}

.description {
    color: transparent;
    max-height: 0;
    transition: all ease 0.3s;
}

.show-description {
    border-top: 1px solid var(--primary-color);
    max-height: 200rem;
    color: var(--secondary-color);
}

@media(min-width: 480px){
    .show-description {
        max-height: 35rem;
    }
}