  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
  }

  :root {
    --primary-color: #22FD63;
    --secondary-color: #F2F2F2;
    --background-color: #2B2B2B;
  }

  @font-face {
    font-family: 'JetbrainsMono';
    src: url('assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'JetbrainsMono', sans-serif;
    background-color: var(--background-color);
    color: var(--secondary-color);
    height: fit-content;
  }

  @media(min-width: 480px){
    body {
      height: 100vh;
    }
  }

  .full-height{
    height: 100%;
  }