* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

@font-face {
    font-family: 'JetbrainsMono';
    src: url('/assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'JetbrainsMono', sans-serif;
    background-color: #2B2B2B;
    color: #F2F2F2;
    height: 100vh;
  }

  .full-height{
    height: 100%;
  }