<div id = "menu" class="full-height" [ngClass]="{active: isMenuActive}">
    
    <app-photo-and-description class="photo-description"></app-photo-and-description>

    <ul id = "menu-itens">
        <li>
            <a class="menu-item" 
                [ngClass]="activeSection == 'about-me' ? 'selected-item' : ''"
                href="#about-me" (click)="notifyCloseMenu()">Sobre mim</a>
        </li>
        <li>
            <a class="menu-item" 
                [ngClass]="activeSection == 'qualification' ? 'selected-item' : ''"
                href="#qualification" (click)="notifyCloseMenu()">Formação</a>
        </li>
        <li>
            <a class="menu-item" 
                [ngClass]="activeSection == 'experiences' ? 'selected-item' : ''"
                href="#experiences" (click)="notifyCloseMenu()">Experiências</a>
            </li>
        <li>
            <a class="menu-item" 
                [ngClass]="activeSection == 'projects' ? 'selected-item' : ''"
                href="#projects" (click)="notifyCloseMenu()">Projetos</a>
            </li>
    </ul>
    
    <ul id = "icons-social-media">
        <li>
            <a href="https://www.linkedin.com/in/orleanscaio/" target="_blank">
                <img class="icon" src="assets/icons/linkedin-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a href="https://github.com/caioorleans" target="_blank">
                <img class="icon" src="assets/icons/github-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a href="mailto:caioorleans.desenvolve@gmail.com" target="_blank">
                <img class="icon" src="assets/icons/email.svg" alt="">
            </a>
        </li>
    </ul>
</div>