#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
}

ul {
    list-style: none;
}

.menu-item {
    color: var(--color-primary);
    font-weight: 100;
    text-decoration: none;
    transition: font-size 0.5s ease, color 0.5s ease;
}

.selected-item, .menu-item:hover{
    color: var(--primary-color);
    font-weight: 400;
    font-size: 26px;
}

#menu-itens li {
    font-size: 22px;
}

#icons-social-media {
    height: 32px;
    display: flex;
    align-items: center;
}

#icons-social-media li {
    margin-right: 18px;
}

.icon {
    width: 24px;
    transition: width 0.5s ease;
}

.icon:hover {
    width: 32px
}

@media(max-width: 900px){
    .full-height{
        height: 100vh;
        position: fixed;
        top: 0;
        left: -300px;
        padding: 60px;
        z-index: 10;
        background-color: var(--background-color);
        transition: left ease 0.5s;
    }

    .active {
        left: 0;
    }

    .photo-description {
        display: none;
    }
}