<div id = "menu" class="full-height">
    
    <app-photo-and-description></app-photo-and-description>

    <ul id = "menu-itens">
        <li><a class="menu-item selected-item" href="#about-me">Sobre mim</a></li>
        <li><a class="menu-item" href="#qualification">Formação</a></li>
        <li><a class="menu-item" href="#experiences">Experiências</a></li>
        <li><a class="menu-item" href="">Projetos</a></li>
    </ul>
    
    <ul id = "icons-social-media">
        <li>
            <a href="https://www.linkedin.com/in/orleanscaio/" target="_blank">
                <img class="icon" src="assets/icons/linkedin-icon.svg" alt="">
            </a>
        </li>
        <li>
            <a href="https://github.com/caioorleans" target="_blank">
                <img class="icon" src="assets/icons/github-icon.svg" alt="">
            </a>
        </li>
    </ul>
</div>